
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p style="font-size: 20p;font-weight: bold;color: black;text-align: center;
      margin-top: -25px;">New Product's</p>
        <span *ngFor="let proi of prodata" style="width: 50px;">
        <img src="../../assets/uploads/{{proi.images}}" class="setcent" (click)="funDetail(proi._id)">
        </span>
        
        <hr><br>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6" *ngFor="let pro of prodata" style="text-align: center;margin-top:40ppx;">
          <!-- <div class="prodetails"> -->
              <img src="../../assets/uploads/{{pro.images}}" class="img" (click)="funDetail(pro._id)">
             <p class="pnames">{{pro.pname}}</p>
             <p class="pprices">{{pro.pprice | currency: "INR"}}</p>
             <p class="pdescs">{{pro.pdesc}} </p>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>