
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-md-3 col-sm-12" style="height:400px;text-align: center">
      <img src="./assets/offer.jpg" class="ads" width="270px;" height="350px;" style="margin-top: -4px">
    </div> -->
    <div class="col-md-12">
        <p style="text-align: center;font-size: 20px; font-weight: bold;">New Product's</p><hr><br>
      <div class="row">
       
        <div class="col-md-3 col-sm-6 col-xs-6" *ngFor="let pro of prodata" style="text-align: center;margin-top:40ppx;">
          <!-- <div class="prodetails"> -->
              <img src="../../assets/uploads/{{pro.images}}" class="img" (click)="funDetail(pro._id)">
             <p class="pnames">{{pro.pname}}</p>
             <p class="pprices">{{pro.pprice | currency: "INR"}}</p>
             <p class="pdescs">{{pro.pdesc}} </p>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>