    
      <div class="container">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4 text-center" style="box-shadow: 0px 8px 16px 0px rgb(245, 242, 242);background:linear-gradient(rgb(131, 41, 216) 30%,rgb(132, 122, 236));">
            <form><br>
              <h2 id="otphed" style="color: azure">Set Your Password</h2><br>
              <input type="text" class="form-control deco" [(ngModel)]="email" name="email" placeholder="Enter Email"><br>
              <input type="text" class="form-control deco" [(ngModel)]="otp" name="otp" pattern="[0-9]*" maxlength="4" placeholder="Enter OTP"><br>
              <input type="text" class="form-control deco" [(ngModel)]="password" name="password" placeholder="Enter New Password"><br>
              <input type="button" class="btn btn-warning form-control otpbtn" value="Submit OTP" (click)="ResetPassword()"><br><br>
            </form>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>