
.texboxes{
  padding: 7px;
  /* width:186px; */
  height: 39px;
  border-radius: 0px;
  border: 1px solid silver;
  color: rgb(59, 53, 51);
  /* font-size:22px; */
  font-family: Arial, Helvetica, sans-serif;
}
.areas{
  color: rgb(41, 35, 33);
  /* font-size: 22px; */
  border-radius: 0px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.con{
  color: rgb(39, 35, 34);
  /* font-size: 22px; */
  border-radius: 0px;
  height: 39px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-dialogs{
  margin: auto;
  padding: 30px;
}
.registform{
  padding: 10px; box-shadow:   0px 0px 8px rgb(156, 163, 155);
  border: 1px solid silver;border-radius: 4px
}
