

<div>
 <div  class="row" *ngFor="let p of prodata">
     <div class="col-md-4 col-sm-12" style="text-align: center">
            <img src="../../assets/uploads/{{p.images}}" height="340px"   [imageZoom]="" [lensHeight]="40" [lensHeight]="40" width="300" [minZoomLevel]=".2" [maxZoomLevel]=".4" >
     </div>
     <div class="col-md-4 col-sm-12" style="margin-top: -7px; text-align: center">
            <span style="font-weight:bold;font-size:25px;">{{p.pname | uppercase}}</span><br>
            <span style="font-weight:bold;color:green;font-size:30px">{{p.pprice | currency: "INR"}}</span><br>
            <span style="font-weight:bold"> Color:&nbsp;&nbsp;&nbsp;<span [ngStyle]="{backgroundColor:p.pcolor,color:p.pcolor}"> . . . . </span></span><br>
            
            <span style="font-size:15px;color: rgb(144, 146, 143)"> {{p.pdesc}}</span><br>
           
            <span>
                <rating [(ngModel)]="urat" [max]="5"   (click)="funRat(urat)" [readonly]="false">{{p.urat}}</rating>
            </span>
           <br>
       
            <span style="font-weight:bold;color:chocolate">Available Quantity:{{p.quantity}}</span>
            <br>
            <span style="color: rgb(17, 175, 59);font-size:15px;font-weight:bold;"> {{p.offer}}</span>
            <br>
            <span style="text-align: center">
                <div class="value-button" id="decrease" (click)="decreaseValue()" ><img src="/assets/-.png" width="30px"></div>
                <input type="number" id="number" value="1"  name="qty"   readonly [(ngModel)]="value">
                <div class="value-button" id="increase" (click)="increaseValue(p.quantity)" ><img src="/assets/+.png" width="20px"></div>
            </span><br><br>
           <span id="spnbtn">
                <i class="fa fa-shopping-cart fas"></i>
                <button type="button"  class="btn b.tn-default cartbtn addcartbtn"  (click)="funaddcart(p)">
                  Add To Cart
              </button>
              &nbsp;&nbsp;
              <button type="button" class="btn btn-danger" style="margin-top: -8px;" (click)="appobj.fun_cart_detail()">
                    <span class="fa fa-shopping-cart "></span>
                Buy Now
              </button>
            </span>

     </div>
     <div class="col-md-4 col-sm-12">
        <p style="color: rgb(52, 54, 54);font-size: 25px; text-align: center">Payment Offer's</p>
        <p class="offers"><span class="spn">&#187;</span>Special PriceGet extra 12% off (price inclusive of discount)T&C</p>
        <p class="offers"><span class="spn">&#187;</span>Bank Offer5% Instant Discount on EMIs with Axis Bank Credit CardT&C</p>
        <p class="offers"><span class="spn">&#187;</span>Bank OfferExtra 5% off* with Axis Bank Buzz Credit CardT&C</p>
        <p class="offers"><span class="spn">&#187;</span>Partner OfferShop for Rs1500+ from 22 to 31st March & get extra 10% off on next purchase</p>
        <p class="offers"><span class="spn">&#187;</span>The Offer is valid on all modes of payment.</p>
        <p class="offers"><span class="spn">&#187;</span>Offer is not applicable on orders of Products cancelled on or before April 2019</p>    
     </div>
 </div>
</div>
<br><br>
<div class="container" *ngIf="releted">
    <h2 style="text-transform: uppercase;font-weight: 300;color: gray">Realted More Product's</h2><hr>
   <div class="row">
     <div class="col-md-3" *ngFor="let rel of releted">
        <img src="../../assets/uploads/{{rel.images}}" width="150px" height="100px" (click)="funDetail(rel._id)"><br><br>
       <div style="text-align: justify;font-weight: bold;color: gray">
          {{rel.pname}}
       </div>
       <div style="text-align: justify">
          {{rel.pdesc}}
       </div>
       <div style="text-align: justify;font-family: Arial, Helvetica, sans-serif;color: #218cc4;font-size: 28px;font-weight: 700;line-height: 50px">
          {{rel.pprice | currency: "INR"}}
       </div>
     </div>
   </div>
</div>

<!-- Upcomming product details -->
<div>
        <div  class="row" *ngFor="let p of updata">
         
            <div class="col-md-4" style="text-align: center"><br><br>
                   <img src="../../assets/uploads/{{p.images}}" height="340px"   [imageZoom]="" [lensHeight]="40" [lensHeight]="40" width="400" [minZoomLevel]=".2" [maxZoomLevel]=".4" >
            </div>
            <div class="col-md-6 col-sm-12" style="text-align: center"><br>
                   <span style="font-weight:bold;font-size:25px;">{{p.pname | uppercase}}</span><br>
                   <span style="font-weight:bold;color:green;font-size:30px">{{p.pprice | currency: "INR"}}</span><br>
                   <span style="font-weight:bold"> Color:&nbsp;&nbsp;&nbsp;<span [ngStyle]="{backgroundColor:p.pcolor,color:p.pcolor}">. . . . </span></span><br>
                   <span style="font-size:15px;color: rgb(144, 146, 143)"> {{p.pdesc}}</span><br>
                  <br>
                   <span *ngFor="let rat of rat_arr"  class="fa fa-star" style="font-size:30px;color:rgb(54, 27, 206);margin-right:2px">
                     
                   </span>
                   <span *ngIf="half==1" class="fa fa-star-half" style="font-size:30px;color:rgb(54, 27, 206);margin-right:2px"> </span>
                 <br>
                 <br>
                   <span style="color: rgb(17, 175, 59);font-size:15px;font-weight:bold;"> {{p.offer}}</span>       
            </div>
        </div>
       </div>