form {
    width: 600px;
    margin: 0 auto;
    /* text-align: center; */
    padding-top: 15px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid  rgb(152, 153, 226);
    margin-top: -7px;
    width: 40px;
    height: 40px;
    font-weight: bolder;
    text-align: center;
    font-size:20px;
    vertical-align: middle;
    padding: 2px 0;
    background:rgb(152, 153, 226);
 
    color:white;
  }
  
  .value-button:hover {
    cursor: pointer;
    background-color:mediumslateblue;
    color:rgb(0, 247, 255);
  }
  
  form #decrease {
    /* margin-right: -4px; */
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    /* margin-left: -4px; */
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    margin-top: -50px;
    border: none;
    border: 1px solid #ddd;

    margin: 0px;
    width: 40px;
    height: 38px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .fas{
    border-radius: 4px 0px 0px 4px;color: white;background-color: rgb(0, 128, 128);width: 35px;height:36px;font-size: 17px;padding: 10px; 
 }
 .cartbtn{
    border-radius: 0px;padding: 5px;color:white;margin-top: -6px ;background-color: rgb(0, 128, 128)
 }

 .offers{
  color: rgba(4, 252, 99, 0.911);
  cursor: pointer;
  font-size: 14px;
  margin: 6px;
}
.offers:hover{
  color: rgb(74, 150, 124);
  margin-left: 15px
}
.spn{
  color: rgb(131, 145, 126);
  padding: 6px;
}
.set_image{
  height:340px;width:300px
}
.setmndiv{
  margin-top: -7px; 
  /* text-align: center */
}
.pname{
  font-weight:bold;font-size:25px;
}
.pprice{
  font-weight:bold;color:rgb(12, 212, 12);font-size:30px
}
.pdesc{
  font-size:15px;
  color: rgb(144, 146, 143)
}
.morerel{
  text-transform: uppercase;font-weight: 300;color: gray
}
.poffer{
  color: rgb(52, 54, 54);
  font-size: 25px;
}
@media(max-width:361px){
  .poffer{
     font-size: 14px;
     font-weight: bold;
     margin-top: 17px;
     margin-left: 12px;
     color: deepskyblue;
  }
  .morerel{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: cadetblue;
    margin-top: -35px;
  }
  .pname{
    font-weight: bold;
    font-size: 16px;
    color: darkblue;
  }
  .pprice{
    font-weight: bold;
    color: darkturquoise;
    font-size: 18px;
  }
  .set_image{
    height: 190px;
    width: 280px;
    box-shadow: 0px 0px 16px ghostwhite;
  }
  .pdesc{
    font-size: 13px;
    color: blueviolet;
    font-family: sans-serif;
    font-weight: bold;
  }
  .setmndiv{
    margin-top: 10px;
    margin-left: 28px;
  }
 }