
<div class="row">
  <div class="col-sm-12" style="text-align: center">
      <img src="../../assets/pagenotfound.png" width="150px">
     <h1 style="color: rgb(253, 6, 47);font-size: 60px;font-family: Arial, Helvetica, sans-serif;font-weight: bold">Error : 404</h1>
      <p style="color: rgb(63, 57, 57);font-size: 35px;">Seems you encountered a wrong address <br>Go back to Home Page</p>
      <button class="btn btn-success" (click)="shopping()">Continue Shopping</button><br><br>
  </div>
</div>
