<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-4" style="border: 0px solid gray;padding: 10px;border-radius: 4px;box-shadow: 0px 0px 2px 3px rgb(206, 204, 204);margin: 10px">
            <div class="panel panel-default">
                <div class="panel-heading card-header text-center">
                    <h5 class="panel-title ">
                        Payment Details
                    </h5><br>
            <img src="../../assets/Payment.png" class="img-responsive poss">&nbsp;&nbsp;
			<img src="../../assets/1.png" class="img-responsive poss">&nbsp;&nbsp;
			<img src="../../assets/3.png" class="img-responsive poss">&nbsp;&nbsp;
			<img src="../../assets/4.png" class="img-responsive poss">&nbsp;&nbsp;
                </div><br>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="cardNumber" style="font-weight: bold;color: gray">
                                CARD NUMBER</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                    required autofocus />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="cardEXP" style="font-weight: bold;color: gray">
                                    EXP MM</label>
                                <div class="form-group">
                                    <input type="text" placeholder="MM" id="cardEXP" class="form-control" required
                                        autofocus>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="cardEXPY" style="font-weight: bold;color: gray">
                                    EXP YY</label>
                                <div class="form-group">
                                    <input type="text" placeholder="YY" id="cardEXPY" class="form-control" required
                                        autofocus>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="cardCVV" style="font-weight: bold;color: gray">
                                    CVV</label>
                                <div class="form-group">
                                    <input type="text" placeholder="CVV" id="cardCVV" class="form-control" required
                                        autofocus>
                                </div>
                            </div>
                            <ul class="nav nav-pills nav-stacked" style="margin: 14px">
                                <li class="active">
                                    <a>
                                        <span class="badge pull-right bg-warning"
                                            style="padding: 10px;color: white;font-weight: bold;">Final Payment
                                            {{amount | currency: "INR"}}</span>
                                    </a>
                                </li>
                            </ul>
                            <button class="btn btn-success btn-lg btn-block" role="button"
                                style="margin: 14px">Make Your Payment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>