<div class="container-fluid">
  <div class="container-fluid">
      <h5 style="text-align: center;text-transform: uppercase">Specials Category Product</h5><hr>
  </div>
  <div class="row">
    <div class="col-md-3" style="text-align: center;">
      <img src="../../assets/electronic-img.jpg" width="310px" height="150px" style="margin: 6px">
    </div>
    <div class="col-md-3" style="text-align: center;">
      <img src="../../assets/all.png" width="310px" height="150px" style="margin: 6px">    
    </div>
    <div class="col-md-3" style="text-align: center;">
      <img src="../../assets/homa.jpg" width="310px" height="150px" style="margin: 6px">
    </div>
    <div class="col-md-3" style="text-align: center;">
      <img src="../../assets/gg.png" width="310px" height="150px" style="margin: 6px">   
    </div>
  </div>
</div>
