.setit{
    /* border: 0px solid gray;
    border-bottom: 1px solid silver; */
    border-radius: 0px;
    margin-top: 6px
}
/* .setit:focus{
  
    } */
    td{
    text-align: -webkit-center;
    /* margin: 42px; */
    padding: 10px;
    width: 225px;
    /* margin-left: -18px; */
}
    