.spn{
    margin: 8px;
}
.fas{
   border-radius: 4px 0px 0px 4px;color: white;background-color: rgb(0, 128, 128);width: 35px;height:36px;font-size: 17px;padding: 10px; 
}
.cartbtn{
   border-radius: 0px;padding: 5px;color:white;margin-top: -6px;;background-color: rgb(0, 128, 128);
}
#prospn{
  border-radius:4px;margin-top:13px; margin-left: 15px; padding: 10px; float: left; border: 1px solid silver;width: 230px;
}
.img {
  transition: transform .4s;
	margin: 0 auto;
	cursor: pointer;margin-left: 15px;
	margin-top: -16px;
	height: 130px;
	width: 200px;
}

.img:hover {
  -ms-transform: scale(0.5); /* IE 9 */
  -webkit-transform: scale(0.5); /* Safari 3-8 */
  transform: scale(1.1); 
}

.ads {
  margin-top: 0px;
   width: 270px;
   height: 350px;
  transition: transform .4s;
  margin: 0 auto;
}

.ads:hover {
  -ms-transform: scale(0.5); /* IE 9 */
  -webkit-transform: scale(0.5); /* Safari 3-8 */
  transform: scale(1.1); 
}

.prodetails{
  text-align: left;
  box-shadow: 0px 0px 5px rgb(192, 186, 186);
  margin-top: 15px;
  width: 230px;
  padding: 12px;
}

.pnames{
color: #00008B;
  font-weight: bold;
  font-size: 14px;
}
.pprices{
color: #32CD32;
  margin-top: -16px;
}
.pdescs{
  color: #A9A9A9;
  margin-top: -18px;
}

@media (max-width: 360px){
	.pnames{
		color: #00008B;
    font-weight: bold;
    font-size: 12px;
    margin-left: 14px;
    padding: 2px;
    margin-top: 10px;
    text-transform: uppercase;
	}
	.img{
		cursor: pointer;
    margin: 2px;
    float: left;
    width: 142px;
    height: 120px;
    border: 1px solid silver;
	background-color: white;
	padding: 2px;
	}
	.pdescs{
		color: #A9A9A9;
    margin-top: -18px;
    /* margin-left: 0px; */
    font-size: 14px;
	}
	.img:hover {
    cursor: pointer;
  }
  .ads{
    margin: 0 auto;
    height: 125px;
    width: 326px;
    border-bottom: 1px solid silver;
  }
  }