<!-- <div>

  <div class="row">
    <div class="col-md-3" style="height:400px;margin-top: 11px;">
      <img src="/assets/upcomming.jpg" class="ads" width="330px;" height="390px;" style="margin-left: 8px;cursor: pointer;">
    </div>
    <div class="col" style="float: left;">
      <h5 class="" style="color:rgb(14, 9, 1);text-transform: uppercase;margin-left: 20px;font-weight: bold">Upcomming soon</h5>
      <span id="prospn12">
        <span *ngFor="let upro of uppdata" id="prospn" style="height: 330px;background-color: rgba(241, 221, 221, 0.137);box-shadow: 0px 0px 5px rgb(192, 186, 186);">
          <span class="spn" id="prospn1">
            <span class="spn">
              <span></span>
              <img src="../../assets/uploads/{{upro.images}}" class="img" width="170px;" height="130" (click)="funDetails(upro._id)"
                style="cursor: pointer;">
            </span>
            <br>
            <br>
            <span style="color:black;font-weight:bolder;font-size: 14px;text-align: justify;text-transform: uppercase;font-family: arial">
             {{upro.pname}}
             </span>
          </span>
          <br>
          <span class="spn" style="color: rgb(55, 241, 18);font-size: 18px;">
            {{upro.pprice | currency: "INR"}}
          </span>
          <br>
          <span class="spn" [ngStyle]="{backgroundColor:upro.pcolor,color:upro.pcolor}">. . . . .
          </span>
          <br>
        </span>
      </span>
    </div>
  </div> -->


  <div class="row"><br>
    <div class="col-md-3 col-sm-12" style="text-align: center;">
      <img src="/assets/upcomming.jpg" class="ads" width="270px;" height="350px;" style="margin-top: 0px">
    </div>
    <div class="col-md-9">
        <p style="text-align: center;font-size: 35px;">Upcomming Product's</p><hr><br>
      <div class="row">
       
        <div class="col-md-3 col-sm-12" *ngFor="let pro of uppdata" style="text-align: center;margin-top:40ppx;">
          <!-- <div class="prodetails"> -->
          <span>
            <span>
              <span>
                <!-- <img src="/assets/spnow.png" width="230px;" style="margin-left: 20px;margin-top: -42px;height: 60px;"> -->
                <!-- <img src="/assets/MyImges/new p.gif" width="50px" style="margin-left: 167px;margin-top: -47px"> -->
              </span>
              <img src="../../assets/uploads/{{pro.images}}" class="img" width="200px;" height="130"
                (click)="funDetails(pro._id)"
                style="cursor: pointer;margin-left: 15px;margin-top: -16px;"></span><br><br>
            <span
              style="color:black;font-weight:bolder;font-size: 14px;text-align: 
              justify;text-transform: uppercase;font-family: arial">&nbsp;&nbsp;&nbsp;&nbsp;{{pro.pname}}</span>
              </span><br>
          <span>
            <span style="color: rgb(55, 241, 18);font-size: 18px;">&nbsp;&nbsp;{{pro.pprice | currency: "INR"}}</span>
          </span>
          <br>
          <span>
            &nbsp; <span [ngStyle]="{backgroundColor:pro.pcolor,color:pro.pcolor}">. . . . .</span>
          </span>
          <br>
          <span>
            <span style="color: rgb(230, 40, 49)">&nbsp; {{pro.pdesc}} </span>
          </span>
          <br>
          &nbsp;&nbsp;
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
<hr>