  <div class="row"><br>
    <div class="col-md-3 col-sm-12" style="text-align: center;">
      <img src="/assets/upcomming.jpg" class="ads" width="270px;" height="350px;" style="margin-top: 0px">
    </div>
    <div class="col-md-9">
        <p style="text-align: center;font-size: 20px;font-weight: bold;">Upcomming Product's</p><hr><br>
      <div class="row">
       
        <div class="col-md-3 col-sm-6 col-xs-6" *ngFor="let pro of uppdata" style="text-align: center;margin-top:40ppx;">
          <!-- <div class="prodetails"> -->
              <img src="../../assets/uploads/{{pro.images}}" class="img" (click)="funDetails(pro._id)">
             <p class="pnames">{{pro.pname}}</p>
             <p class="pprices">{{pro.pprice | currency: "INR"}}</p>
             <!-- <p class="pdescs">{{pro.pdesc}} </p> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
<hr>